{% extends 'network/layout.html' %}

{% block body %}
<div id="body">
    <div id="user" style="display: none;">{{user}}</div>
    <h1>Saved Posts</h1>
    <div id="posts">
    </div>
    <div id="page-btns">
        <div class="row">
            <button id="previous-btn" class="btn btn-link col-1">previous</button>
            <span class="col-10"></span>
            <button id="next-btn" class="btn btn-link col-1">next</button>
        </div>
    </div>

    <script src="/static/network/saved.js"></script>
</div>
{% endblock %}